html{
  background: url(https://miro.medium.com/max/3200/1*VEJVaGvij0Sh30UIhA5E-A.png) no-repeat center fixed;     
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  color: black;
 
  height: 1400px;
}

.leaflet-container {
  width: 700px;
  height: 400px;
  overflow: hidden;
}